body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container {
  position: relative;
  width: 10vw;
  height: 10vh;
  
  /* zoom: 0.1;
  -moz-transform: scale(0.9); */
}


/*green line*/
.lineOV {
  position: absolute;
  top: 50%; left: 50%;
  transform: translate(-50%, -50%);
  width: 2%;
  height: 100%;
  background-color: green;
}









.long-arrow-left{
  margin: auto;
  position: absolute;
  top: 35%; left: 45%;
  width: 25px;
  height: 25px;
  border-top: 5px solid orange;
  border-left: 5px solid orange;
}

.long-arrow-left{
 transform: rotate(-45deg) translate(-30%, -40%);
}

.long-arrow-left::after{
  margin:auto;
  content: "";
  position: absolute;
  width: 15%;
  height: 200%;
  background-color: orange;
  transform: rotate(-45deg) translate(220%, -10%);
  
}






.long-arrow-up{
  margin: auto;
  position: absolute;
  top: 25%; left: 45%;
  width: 25px;
  height: 25px;
  border-top: 2px solid green;
  border-left: 2px solid green;
}

.long-arrow-up{
 transform: rotate(45deg) translate(-80%, -50%);
}

.long-arrow-up::after{
  margin:auto;
  content: "";
  position: absolute;
  width: 10%;
  height: 380%;
  background-color: green;
  transform: rotate(-45deg) translate(920%, 3%);
  
}

/*orange line*/
.lineR {
  position: absolute;
  top: 50%; left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  height: 4%;
  background-color: orange;
}

.lineRInv {
  position: absolute;
  top: 50%; left: 50%;
  transform: translate(-50%, -50%);
  width: 10px;
  height: 10px;
  background-color: red;
  border-radius: 100%;
  visibility:hidden
}

.circle {
  position: absolute;
  top: 50%; left: 50%;
  transform: translate(-50%, -50%);
  width: 10px;
  height: 10px;
  border: 5px solid black;
  border-radius: 50%;
}

.circleB {
  position: absolute;
  top: 50%; left: 50%;
  transform: translate(-50%, -50%);
  width: 10px;
  height: 10px;
  background-color: skyblue;
  border-radius: 100%;
}

.circleR11 {
  position: absolute;
  top: 50%; left: 50%;
  transform: translate(-50%, -50%);
  width: 10px;
  height: 10px;
  border: 5px solid red;
  border-radius: 50%;
  
}
.circleR12 {
  position: absolute;
  top: 50%; left: 50%;
  transform: translate(-50%, -50%);
  width: 10px;
  height: 10px;
  border: 5px solid red;
  border-radius: 50%;
}
.circleR13 {
  position: absolute;
  top: 50%; left: 50%;
  transform: translate(-50%, -50%);
  width: 10px;
  height: 10px;
  border: 5px solid red;
  border-radius: 50%;
}
.circleR14 {
  position: absolute;
  top: 50%; left: 50%;
  transform: translate(-50%, -50%);
  width: 10px;
  height: 10px;
  border: 5px solid red;
  border-radius: 50%;
}
.circleR21 {
  position: absolute;
  top: 50%; left: 50%;
  transform: translate(-50%, -50%);
  width: 10px;
  height: 10px;
  border: 5px solid red;
  border-radius: 50%;
}
.circleR22 {
  position: absolute;
  top: 50%; left: 50%;
  transform: translate(-50%, -50%);
  width: 10px;
  height: 10px;
  border: 5px solid red;
  border-radius: 50%;
}
.circleR23 {
  position: absolute;
  top: 50%; left: 50%;
  transform: translate(-50%, -50%);
  width: 10px;
  height: 10px;
  border: 5px solid red;
  border-radius: 50%;
}

.circleR24 {
  position: absolute;
  top: 50%; left: 50%;
  transform: translate(-50%, -50%);
  width: 10px;
  height: 10px;
  border: 5px solid red;
  border-radius: 50%;
}

.circleR31 {
  position: absolute;
  top: 50%; left: 50%;
  transform: translate(-50%, -50%);
  width: 10px;
  height: 10px;
  border: 5px solid red;
  border-radius: 50%;
}

.circleR32 {
  position: absolute;
  top: 50%; left: 50%;
  transform: translate(-50%, -50%);
  width: 10px;
  height: 10px;
  border: 5px solid red;
  border-radius: 50%;
}
.circleR33 {
  position: absolute;
  top: 50%; left: 50%;
  transform: translate(-50%, -50%);
  width: 10px;
  height: 10px;
  border: 5px solid red;
  border-radius: 50%;
}
.circleR34 {
  position: absolute;
  top: 50%; left: 50%;
  transform: translate(-50%, -50%);
  width: 10px;
  height: 10px;
  border: 5px solid red;
  border-radius: 50%;
}

.circleR41 {
  position: absolute;
  top: 50%; left: 50%;
  transform: translate(-50%, -50%);
  width: 10px;
  height: 10px;
  border: 5px solid red;
  border-radius: 50%;
}
.circleR42 {
  position: absolute;
  top: 50%; left: 50%;
  transform: translate(-50%, -50%);
  width: 10px;
  height: 10px;
  border: 5px solid red;
  border-radius: 50%;
}
.circleR43 {
  position: absolute;
  top: 50%; left: 50%;
  transform: translate(-50%, -50%);
  width: 10px;
  height: 10px;
  border: 5px solid red;
  border-radius: 50%;
}
.circleR44 {
  position: absolute;
  top: 50%; left: 50%;
  transform: translate(-50%, -50%);
  width: 10px;
  height: 10px;
  border: 5px solid red;
  border-radius: 50%;
}
.circleBInv {
  position: absolute;
  top: 50%; left: 50%;
  transform: translate(-50%, -50%);
  width: 10px;
  height: 10px;
  background-color: skyblue;
  border-radius: 100%;
  visibility:hidden
}

.globalContainer {
  display: grid;
  
  grid-template-rows: 10px 200px 90%;
  grid-template-columns: 5px 60px;
  margin: auto;
  min-height: auto;
  grid-row-gap: 10px;  /* add a 10px gap between the rows */
  grid-column-gap: 10px;
}

.buttonContainer {
  display: grid;
  
  grid-template-columns: 30% 30% 30%;
  
  margin-bottom: 20px;
}

.active {
  display: grid;
  position: relative;
  min-width: 200px;
}

.App {
  font-family: sans-serif;
  text-align: center;
  display: grid;
  grid-template-columns: 60px 60px 60px 60px;
  position: relative;
  margin-top: 20px;
  
}

.XAxis {
  font-family: sans-serif;
  text-align: center;
  display: grid;
  /*grid-template-rows:  ;*/
  grid-template-columns: 60px 60px 60px 60px;
  position: absolute;
  position: relative;
  margin-left: 45px;
  margin-bottom: 20px;
}
.YAxis {
  display: grid;
  grid-template-columns: 6px;
  grid-template-rows: 50px 50px 50px 50px;
  min-height: auto;
  margin-top: 25px;
}
.placeholder {
  display: grid;
}






.buttonA {
  display: grid;
  position: relative;
  
  
}
/* .AppH {
  font-family: sans-serif;
  text-align: center;
  display: grid;
  grid-template-rows: 60px 60px 60px 60px;
  position: absolute;
}
*/
/* .AppV {
  font-family: sans-serif;
  text-align: center;
  display: grid;
  /*grid-template-rows:  ;*/
  /*grid-template-columns: 60px 60px 60px 60px;
  position: absolute;
}   */

.button {
  border-radius: 8px;
  font-size: 20px;
  background-color: red;
  color: white;
  margin-left: 70px;
  margin-top: 100px;
}

.buttonA {
  border-radius: 8px;
  font-size: 20px;
  background-color: red;
  color: white;
  
  float: right; /* Float the button to the right */
  clear: both; /* Clear previous floats */
}

/* .lineH {
  position: absolute;
  top: 50%; left: 50%;
  transform: translate(0%, -50%);
  width: minmax(50px, 100%);
  height: 5%;
  background-color: red;
}

.lineHInv {
  position: absolute;
  top: 50%; left: 50%;
  transform: translate(0%, -50%);
  width: 100%;
  height: 2%;
  background-color: skyblue;
  visibility:hidden
}

.lineHD {
  position: absolute;
  top: 50%; left: 50%;
  transform: translate(-50%, -50%);
  width: 10%;
  height: 2%;
  background-color: darkblue;
} */

/* .line {
  position: absolute;
  top: 50%; left: 50%;
  transform: translate(-50%, 0%);
  width: 2%;
  height: 300%;
  background-color: red;
  
}

.lineInv {
  position: absolute;
  top: 50%; left: 50%;
  transform: translate(-50%, 0%);
  width: 2%;
  height: 300%;
  background-color: skyblue;
  visibility:hidden
}


.triangle { 	
  top: 50%; left: 50%;
	width: 50%; 
  height: 2%;
  position: absolute;
  transform: translateX(-50%) rotate(45deg) ;
  
  background-color: skyblue;
} */


@media (min-height: 359px) and (min-width: 340px) {
  .lineH {
    position: absolute;
    top: 50%; 
    left: 50%;
    transform: translate(-10%, -50%);
    width: 650%;
    height: 3%;
    background-color: gray;
  }

  .lineV {
    position: absolute;
    top: 30%; 
    left: 50%;
    transform: translate(-50%, 0%);
    width: 5%;
    height: 350%;
    background-color: gray;
  }
  
  .activeContainer {
    display: grid;
    grid-template-columns: 50% 30%;
    grid-column-gap: 10px;
    margin-top: 250px;
    margin-left: 20px;
  }

  

  .buttonContainer {
    display: grid;
    grid-column-gap: 10px;
    grid-template-columns: 30% 30%;
    
    margin-bottom: 20px;
  }
  .button {
    border-radius: 8px;
    font-size: 20px;
    background-color: red;
    color: white;
    margin-left: 40px;
    margin-top: 100px;
    width: 110px;
    
  }

  /*green line*/
  .lineOV {
    position: absolute;
    top: 1%; left: 50%;
    transform: translate(-50%, -50%);
    width: 7%;
    height: 190%;
    background-color: green;
  }
  .lineOVT {
    position: absolute;
    top: 1%; left: 50%;
    transform: translate(-50%, -50%);
    width: 29%;
    height: 190%;
    background-color: green;
  }

  .lineR {
    position: absolute;
    top: 50%; 
    left: -2%;
    transform: translate(-50%, -50%);
    width: 370%;
    height: 3%;
    background-color: orange;
  }
  .lineRT {
    position: absolute;
    top: 50%; 
    left: -1%;
    transform: translate(-50%, -50%);
    width: 370%;
    height: 9%;
    background-color: orange;
  }

  .App {
    font-family: sans-serif;
    text-align: center;
    display: grid;
    /*grid-template-rows:  ;*/
    grid-template-columns: 60px 60px 60px 60px;
    position: relative;
    margin-top: 20px;
    margin-left: 50px;
  }

  .YAxis {
    display: grid;
    grid-template-columns: 6px;
    grid-template-rows: 110px 110px 110px 50px;
    min-height: auto;
    margin-top: 65px;
    margin-left: 20px;
  }

  .long-arrow-up{
    margin: auto;
    position: absolute;
    top: 25%; 
    left: 45%;
    width: 25px;
    height: 32px;
    border-top: 2px solid green;
    border-left: 2px solid green;
  }

  .long-arrow-up{
  transform: rotate(45deg) translate(-84%, -10%);
  }

  .long-arrow-up::after{
    margin:auto;
    content: "";
    position: absolute;
    width: 10%;
    background-color: green;
    visibility: hidden;
    
  }

  .long-arrow-upt{
    margin: auto;
    position: absolute;
    top: 25%; 
    left: 45%;
    width: 25px;
    height: 32px;
    border-top: 7px solid green;
    border-left: 7px solid green;
  }

  .long-arrow-upt{
  transform: rotate(45deg) translate(-84%, -10%);
  }

  .long-arrow-upt::after{
    margin:auto;
    content: "";
    position: absolute;
    width: 10%;

    background-color: green;

    
  }


  .long-arrow-left{
    
    
    position: absolute;
    top: 48%; 
    left: 20%;
    width: 23px;
    height: 23px;
    border-top: 3px solid orange;
    border-left: 3px solid orange;
  }
  
  .long-arrow-left{
    
   transform: rotate(-45deg) translate(-2%, -60%);
  }
  
  .long-arrow-left::after{
    margin:auto;
    content: "";
    position: absolute;
    top: -1px;
    left: 16px;
    
    background-color: orange;
    visibility: hidden;
    
  }

  .long-arrow-leftt{
    
    
    position: absolute;
    top: 48%; 
    left: 20%;
    width: 23px;
    height: 23px;
    border-top: 7px solid orange;
    border-left: 7px solid orange;
  }
  
  .long-arrow-leftt{
    
   transform: rotate(-45deg) translate(-2%, -60%);
  }
  
  .long-arrow-leftt::after{
    margin:auto;
    content: "";
    position: absolute;
    top: -1px;
    left: 16px;
    background-color: orange;
    visibility: hidden;
    
  }


}

@media (min-width: 992px) {
  /*orange line*/
  .lineR {
    position: absolute;
    top: 50%; 
    left: 5%;
    transform: translate(-50%, -50%);
    width: 130%;
    height: 2%;
    background-color: orange;
  }
  .lineRT {
    position: absolute;
    top: 50%; 
    left: 5%;
    transform: translate(-50%, -50%);
    width: 130%;
    height: 4%;
    background-color: orange;
  }
    /*green line*/
  .lineOV {
    position: absolute;
    top: 2%; 
    left: 50%;
    transform: translate(-50%, -50%);
    width: 2%;
    height: 180%;
    background-color: green;
  }
  .lineOVT {
    position: absolute;
    top: 2%; 
    left: 50%;
    transform: translate(-50%, -50%);
    width: 4%;
    height: 180%;
    background-color: green;
  }

  .lineH {
    position: absolute;
    top: 50%; 
    left: 50%;
    transform: translate(-10%, -50%);
    width: 221%;
    height: 2%;
    background-color: gray;
  }

  .lineV {
    position: absolute;
    top: 30%; 
    left: 50%;
    transform: translate(-50%, 0%);
    width: 1.8%;
    height: 340%;
    background-color: gray;
  }

  .activeContainer {
    display: grid;
    grid-template-columns: 30% 30%;
    margin-top: 500px;
  }

  .YAxis {
    display: grid;
    grid-template-columns: 6px;
    grid-template-rows: 89px 89px 100px 80px;
    min-height: auto;
    margin-top: 60px;
  }

  .XAxis {
    font-family: sans-serif;
    text-align: center;
    display: grid;
    /*grid-template-rows:  ;*/
    grid-template-columns: 60px 60px 60px 60px;
    position: absolute;
    position: relative;
    margin-left: 65px;
    margin-bottom: 20px;
  }


  .long-arrow-left{
    margin: auto;
    position: absolute;
    top: 50%; 
    left: 12%;
    width: 25px;
    height: 25px;
    border-top: 2px solid orange;
    border-left: 2px solid orange;
  }
  
  .long-arrow-left{
    
   transform: rotate(-45deg) translate(10%, -60%);
  }
  
  .long-arrow-left::after{
    margin:auto;
    content: "";
    position: absolute;
    
    background-color: orange;
    visibility: hidden;
  }


  .long-arrow-leftt{
    margin: auto;
    position: absolute;
    top: 50%; 
    left: 12%;
    width: 25px;
    height: 25px;
    border-top: 2px solid orange;
    border-left: 2px solid orange;
  }
  
  .long-arrow-leftt{
    
   transform: rotate(-45deg) translate(10%, -60%);
  }
  
  .long-arrow-leftt::after{
    margin:auto;
    content: "";
    position: absolute;
    
    background-color: orange;
    visibility: hidden;
  }

  .long-arrow-up{
    margin: auto;
    position: absolute;
    top: 26%; 
    left: 46%;
    width: 25px;
    height: 25px;
    border-top: 2px solid green;
    border-left: 2px solid green;
  }
  
  .long-arrow-up{
   transform: rotate(45deg) translate(-59%, -10%);
  }
  
  .long-arrow-up::after{
    margin:auto;
    content: "";
    position: absolute;
    width: 10%;
    height: 380%;
    background-color: green;
    transform: rotate(-45deg) translate(1300%, 5%);
    visibility: hidden;
    
  }
  .long-arrow-upt{
    margin: auto;
    position: absolute;
    top: 26%; 
    left: 46%;
    width: 25px;
    height: 25px;
    border-top: 2px solid green;
    border-left: 2px solid green;
  }
  
  .long-arrow-upt{
   transform: rotate(45deg) translate(-59%, -10%);
  }
  
  .long-arrow-upt::after{
    margin:auto;
    content: "";
    position: absolute;
    width: 10%;
    height: 380%;
    background-color: green;
    transform: rotate(-45deg) translate(1300%, 5%);
    visibility: hidden;
    
  }

}


@media (min-width: 1200px) {

  .App {
    font-family: sans-serif;
    text-align: center;
    display: grid;
    /*grid-template-rows:  ;*/
    grid-template-columns: 60px 60px 60px 60px;
    position: relative;
    margin-top: 20px;
    margin-left: 1px;
  }

  .YAxis {
    display: grid;
    grid-template-columns: 6px;
    grid-template-rows: 112px 112px 110px 50px;
    min-height: auto;
    margin-top: 55px;
    margin-left: 20px;
  }

  .XAxis {
    font-family: sans-serif;
    text-align: center;
    display: grid;
    /*grid-template-rows:  ;*/
    grid-template-columns: 60px 60px 60px 60px;
    position: absolute;
    position: relative;
    margin-left: 65px;
    margin-bottom: 20px;
  }

  .globalContainer {
    display: grid;
    
    grid-template-rows: 10px 200px 90%;
    grid-template-columns: 5px 60px;
    margin: auto;
    min-height: auto;
    grid-row-gap: 10px;  /* add a 10px gap between the rows */
    grid-column-gap: 10px;
    height: 350px;
  }


  /*orange line*/
  .lineR {
    position: absolute;
    top: 49.98%; 
    left: 35%;
    transform: translate(-50%, -50%);
    width: 74%;
    height: 3.3%;
    background-color: orange;
  }

    /*orange line temp*/
    .lineRT {
      position: absolute;
      top: 49.98%; 
      left: 35%;
      transform: translate(-50%, -50%);
      width: 74%;
      height: 7.3%;
      background-color: orange;
    }

  .lineH {
    position: absolute;
    top: 50%; 
    left: 50%;
    transform: translate(-10%, -50%);
    width: 120%;
    height: 3%;
    background-color: gray;
  }

  .lineV {
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%, -7%);
    width: 1.8%;
    height: 360%;
    background-color: gray;
  }

    /*green line*/
  .lineOV {
    position: absolute;
    top: 1%; 
    left: 50%;
    transform: translate(-50%, -50%);
    width: 1.8%;
    height: 190%;
    background-color: green;
  }
    .lineOVT {
      position: absolute;
      top: 1%; 
      left: 50%;
      transform: translate(-50%, -50%);
      width: 7.8%;
      height: 190%;
      background-color: green;
    }
  .activeContainer {
    display: grid;
    grid-template-columns: 30% 30%;
    margin-top: 120px;
  }



  .long-arrow-up{
    margin: auto;
    position: absolute;
    top: 31%; 
    left: 50.5%;
    width: 32px;
    height: 32px;
    border-top: 2px solid green;
    border-left: 2px solid green;
  }

  .long-arrow-up{
  transform: rotate(45deg) translate(-84%, -10%);
  }

  .long-arrow-up::after{
    margin:auto;
    content: "";
    position: absolute;
    width: 10%;
    height: 380%;
    background-color: green;
    transform: rotate(-45deg) translate(1300%, 5%);
    visibility: hidden;
    
  }

  .long-arrow-upt{
    margin: auto;
    position: absolute;
    top: 31%; 
    left: 50.5%;
    width: 32px;
    height: 32px;
    border-top: 8px solid green;
    border-left: 8px solid green;
  }

  .long-arrow-upt{
  transform: rotate(45deg) translate(-84%, -10%);
  }

  .long-arrow-upt::after{
    margin:auto;
    content: "";
    position: absolute;
    width: 10%;
    height: 380%;
    background-color: green;
    transform: rotate(-45deg) translate(1300%, 5%);
    visibility: hidden;
    
  }



  .long-arrow-left{
    position: absolute;
    /*overral margin top */
    top: 47%; 
    /*overral margin left */
    left: 39%;
    width: 26px;
    height: 26px;
    border-top: 2px solid orange;
    border-left: 2px solid orange;
  }
  
  .long-arrow-left{
    
   transform: rotate(-45deg) translate(-2%, -60%);
  }
  
  .long-arrow-left::after{
    margin:auto;
    content: "";
    position: absolute;
    top: 4px;
    left: 25px;
    background-color: rgba(0,0,0,0.5);
    visibility: hidden;
  }

  .long-arrow-leftt{
    position: absolute;
    /*overral margin top */
    top: 47%; 
    /*overral margin left */
    left: 39%;
    width: 26px;
    height: 26px;
    border-top: 8px solid orange;
    border-left: 8px solid orange;
  }
  
  .long-arrow-leftt{
    
   transform: rotate(-45deg) translate(-2%, -60%);
  }
  
  .long-arrow-leftt::after{
    margin:auto;
    content: "";
    position: absolute;
    top: 4px;
    left: 25px;
    background-color: rgba(0,0,0,0.5);
    visibility: hidden;
  }
}

